<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-spinner *ngIf="!movie" float-center></ion-spinner>
  <ion-grid *ngIf="movie">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-3>
        <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path"/>
        <img *ngIf="!movie.poster_path" src="/assets/imgs/noImage.png"/>
      </ion-col>
      <ion-col>
        <h2 ion-text>{{movie.title}}</h2>
        <small ion-text>({{movie.original_title}})</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p ion-text><strong>Release date: </strong>{{movie.release_date}}</p>
        <h4 ion-text>
          <ion-icon *ngFor="let i of stars()" [name]="starType[i]"></ion-icon>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <button *ngIf="(afAuth.authState | async) && !inMyList" ion-button icon-start full (click)="addToWatchList()"><ion-icon name="add"></ion-icon> Add to watch list</button>
      <button *ngIf="!(afAuth.authState | async)" ion-button icon-start full (click)="login()"><ion-icon name="logo-google"></ion-icon> Login to add to your list...</button>
      <button *ngIf="(afAuth.authState | async) && inMyList" ion-button full disabled >Alredy in your list</button>
    </ion-row>
  </ion-grid>
</ion-content>
